@import '../../styles/media';
@import '../../styles/colors';

.Rentals {
  background-color: @gray-light;
  border-bottom: 1px solid #eaebed;
  padding-bottom: 20px;

  .item-container {
    display: grid;
    grid-template-columns: repeat(4, 400px);
    justify-content: center;

    .rental-item {
      box-shadow: 0px 3px 43px 1px rgba(128, 128, 128, 0.2);
      text-align: center;
      padding: 20px;
      height: 100px;
      margin: 20px;
      background: @snowy;
    }
  }

}