.Rentals {
  background-color: #f9f9fb;
  border-bottom: 1px solid #eaebed;
  padding: 3em 0;
}
.Rentals .item-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
}
.Rentals .item-container .rental-item {
  box-shadow: 0px 3px 43px 1px rgba(128, 128, 128, 0.2);
  text-align: center;
  padding: 20px;
  height: 100px;
  margin: 20px;
  background: #ffffff;
}
@media only screen and (max-width: 599px) {
  .Rentals .item-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 300px);
  }
}
@media only screen and (min-width: 600px) {
  .Rentals .item-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 300px);
  }
}
@media only screen and (min-width: 1200px) {
  .Rentals .item-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1400px) {
  .Rentals .item-container {
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 300px);
  }
}
.Rentals .button-row {
  margin: 3em auto 1em auto;
  text-align: center;
}
.Rentals .button-row .Button {
  text-decoration: none;
  font-weight: 600;
  padding: 1em 2em;
}
