.Form {
  display: grid;
  margin: 10px auto;
  padding: 30px;
  box-shadow: 0 3px 20px 0 rgba(128, 128, 128, 0.2);
  background-color: #ffffff;
}
.Form .form-row {
  margin: 0;
  padding: 5px 0;
}
@media only screen and (max-width: 599px) {
  .Form {
    width: 100%;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 600px) {
  .Form {
    width: 300px;
  }
}
@media only screen and (min-width: 1200px) {
  .Form {
    width: 100%;
    max-width: 320px;
  }
}
.Button {
  background-color: #17c671;
  color: #ffffff;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin-right: 4px;
  height: 45px;
  min-width: 24px;
  text-shadow: none;
  padding: 4px 10px;
  line-height: 1.57142857em;
}
.Button.block {
  width: 100%;
}
.Button:hover {
  cursor: pointer;
  background-color: #0ea25a;
}
