@import '../../styles/media';
@import '../../styles/colors';

.Form {
  display: grid;
  margin: 10px;

  .form-container {
    display: grid;
    justify-items: stretch;
    grid-column-gap: 15px;

    article {
      justify-self: stretch;
    }

    aside {
      justify-self: stretch;
    }

    @media @smartphones {
      grid-template-columns: 1fr;
    }
    @media @tablets {
      grid-template-columns: repeat(2, 315px);
    }

  }

  .form-row {
    margin: 0;
    padding: 5px 0;
  }

  @media @tablets {
    justify-content: center;
  }
}

.Button {
  background-color: #18c671;
  color: @snowy;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin-right: 4px;
  height: 45px;
  min-width: 24px;
  text-shadow: none;
  padding: 4px 10px;
  line-height: 1.57142857em;

  &.block {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    background-color: #0ea25a;
  }
}

