.Form {
  display: grid;
  justify-content: center;
}
.Form .form-container {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-gap: 15px;
}
.Form .form-row {
  margin: 0  auto;
  max-width: 300px;
  padding: 5px 0;
}
.Button {
  background-color: #18c671;
  color: #ffffff;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin-right: 4px;
  height: 45px;
  min-width: 24px;
  text-shadow: none;
  padding: 4px 10px;
  line-height: 1.57142857em;
}
.Button.block {
  width: 100%;
}
.Button:hover {
  cursor: pointer;
  background-color: #0ea25a;
}
