.TextAreaField {
  position: relative;
  margin-bottom: 5px;
}
.TextAreaField textarea {
  font-family: inherit;
  width: 100%;
  border: 0;
  outline: none;
  line-height: 20px;
  padding: 20px 10px 5px 15px;
  border: none;
  box-sizing: border-box;
  transition: 0.3s;
  background-color: #f8f8f8;
  font-size: 13px;
}
.TextAreaField textarea:focus + label {
  transform: translate(0, -10px) scale(0.72);
  color: #686868;
}
.TextAreaField textarea:-webkit-autofill,
.TextAreaField textarea:-webkit-autofill:hover,
.TextAreaField textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #eae9e9 inset;
}
.TextAreaField textarea:-webkit-autofill + label,
.TextAreaField textarea:-webkit-autofill:hover + label,
.TextAreaField textarea:-webkit-autofill:focus + label {
  transform: translate(0, -6px) scale(0.72);
  color: #686868;
}
.TextAreaField label {
  color: #494949;
  font-weight: 600;
  position: absolute;
  z-index: 1;
  left: 15px;
  top: 25px;
  line-height: 24px;
  font-size: 16px;
  margin: -12px 0 0 0;
  cursor: text;
  transform-origin: top left;
  transition: all .15s ease;
}
