.AboutUs {
  background-color: #ffffff;
  border-bottom: 1px solid #eaebed;
  padding: 3em 0;
}
.AboutUs .pictograms {
  display: grid;
  justify-content: center;
}
@media only screen and (min-width: 600px) {
  .AboutUs .pictograms {
    grid-template-columns: repeat(2, 250px);
  }
}
@media only screen and (min-width: 1200px) {
  .AboutUs .pictograms {
    grid-template-columns: repeat(4, 250px);
  }
}
