@import '../../styles/media';
@import '../../styles/colors';

html, body, #root, .App {
  height: 100%;
}

.App {
  display: grid;
  font-family: @ff-source;
  align-content: stretch;

  .container {
    width: 100%;
    display: grid;
  }
  .wrapper {
    @media @smartphones {
      width: 100%;
    }
    @media @desktops {
      margin: 0 auto;
      width: 1100px;
    }
  }

  &[data-sub-page="true"] {
    grid-template-rows: 1fr min-content;
  }
}