@import '../../styles/media';
@import '../../styles/colors';

.Title {
  position: relative;
  text-align: center !important;
  margin: 0 0 2em 0 !important;

  font-size: 1.95em;

  &:after {
    content: '';
    width: 40px;
    height: 2px;
    background: @primary;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: -20px;
  }
}