.Title {
  position: relative;
  text-align: center !important;
  margin: 0 0 2em 0 !important;
  font-size: 1.95em;
}
.Title:after {
  content: '';
  width: 40px;
  height: 2px;
  background: #17c671;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: -20px;
}
