@import '../../styles/media';
@import '../../styles/colors';

.Title {
  position: relative;
  text-align: center !important;
  margin: 0 0 2em 0 !important;
  font-family: @ff-mont;
  font-weight: 300;

  &:after {
    content: '';
    width: 40px;
    height: 2px;
    background: @primary;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: -20px;
  }

  @media @phones {
    font-size: 1.5em;
  }
  @media @smartphones {
    font-size: 1.5em;
  }
  @media @desktops {
    font-size: 1.95em;
  }
}
