.ContactPage {
  background-color: #f7f7f7;
}
.ContactPage .Contact {
  background-color: transparent;
  box-shadow: none;
  padding-bottom: 70px;
}
.ContactPage .Map {
  border-top: 2px solid rgba(23, 198, 113, 0.8);
}
