.BottomArrow {
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 45px;
  width: 45px;
  background-color: #000000;
  align-content: center;
  justify-content: center;
  opacity: 0.3;
}
.BottomArrow .icon {
  font-size: 1.3em;
  color: #ffffff;
  margin-bottom: 2px;
}
.BottomArrow:hover {
  opacity: 0.5;
  cursor: pointer;
}
.BottomArrow[data-fixed="false"] {
  display: none;
}
.BottomArrow[data-fixed="true"] {
  display: grid;
}
