.DropDownMenu {
  display: grid;
  background-color: #313334;
  padding: 10px;
  position: absolute;
  margin-top: 15px;
  visibility: hidden;
  margin-left: -30px;
}
.DropDownMenu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  text-transform: none;
  padding: 10px;
  font-weight: 500;
}
.DropDownMenu a:hover,
.DropDownMenu a.active {
  color: #17c671;
  background-color: rgba(23, 198, 113, 0.12);
}
@media only screen and (max-width: 599px) {
  .DropDownMenu {
    background-color: transparent;
    position: relative;
    visibility: visible;
    max-width: none;
    width: 100%;
    box-sizing: border-box;
    margin-left: 0 ;
  }
}
