.Pictogram {
  display: grid;
  grid-row-gap: 1em;
  justify-items: center;
  margin-bottom: 3em;
  padding: 2em;
  transition: 0.2s ease-in;
}
.Pictogram .icon {
  font-size: 4em;
  color: #17c671;
}
.Pictogram h5 {
  font-size: 2.5em;
  font-weight: 600;
}
.Pictogram small {
  font-size: 1.2em;
  color: #80868f;
}
.Pictogram:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}
