@import '../../styles/media';
@import '../../styles/colors';

.Pictogram {
  display: grid;
  grid-row-gap: 1em;
  justify-items: center;

  .icon {
    font-size: 4em;
    color: @primary;
  }

  h5 {
    font-size: 2.5em;
    font-weight: 600;
  }
  small {
    font-size: 1.2em;
    color: @gray-dark;
  }
}