@import '../../styles/media';
@import '../../styles/colors';

.Header {
  padding-top: 72px;
  height: 700px;
  background: @background-gradient;
  display: grid;
  color: @snowy;
  text-align: center;

  .welcome-title {
    align-self: end;
    padding-bottom: 50px;

    h1 {
      font-weight: 900;
      font-size: 5em;
      margin: 15px 0;
      text-transform: uppercase;
    }
    small {
      font-size: 1.5em;
      margin: 15px 0;
      font-weight: 100;
      display: block;
    }

    @media @phones {
      h1 {
        font-size: 3em;
      }
      small {
        font-size: 1em;
      }
    }
  }
  .welcome-button {
    align-self: start;
    font-family: @ff-roboto;

    button {
      text-transform: uppercase;
      width: 200px;
      height: 60px;
      font-size: 1.2em;
      font-weight: 600;
    }
  }
}
