.Header {
  padding-top: 72px;
  height: 700px;
  background: linear-gradient(to right, #232526, #414345);
  display: grid;
  color: #ffffff;
  text-align: center;
}
.Header .welcome-title {
  align-self: end;
  padding-bottom: 50px;
}
.Header .welcome-title h1 {
  font-weight: 900;
  font-size: 5em;
  margin: 15px 0;
  text-transform: uppercase;
}
.Header .welcome-title small {
  font-size: 1.5em;
  margin: 15px 0;
  font-weight: 100;
  display: block;
}
.Header .welcome-button {
  align-self: start;
  font-family: "Roboto", sans-serif;
}
.Header .welcome-button button {
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  font-size: 1.2em;
  font-weight: 600;
}
