.Footer {
  padding: 20px;
  height: 15px;
  background-color: #212529;
  color: #ffffff;
}
.Footer .content {
  font-size: 1.1em;
  font-weight: 300;
  text-align: center;
}
.Footer .content strong {
  font-weight: 900;
}
