.RentalCategories {
  background-color: #f7f7f7;
}
@media only screen and (max-width: 599px) {
  .RentalCategories {
    padding: 2em;
  }
}
@media only screen and (min-width: 600px) {
  .RentalCategories {
    padding: 2em;
  }
}
@media only screen and (min-width: 1200px) {
  .RentalCategories {
    padding: 3em;
  }
}
.RentalCategories .icon {
  display: block;
  text-align: center;
  margin: 10px auto 30px auto;
  font-size: 4em;
  color: #17c671;
}
.RentalCategories .title {
  text-align: center;
}
.RentalCategories .title h2 {
  font-size: 1.3em;
  color: #80868f;
}
.RentalCategories .title a {
  text-decoration: none;
}
.RentalCategories .content-wrapper {
  padding: 10px;
  max-width: 1000px;
  margin: 30px auto;
}
.RentalCategories .content-wrapper .rental-content p {
  font-size: 1.1em;
  padding: 3px;
  text-align: left;
  text-indent: 30px;
}
.RentalItems {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  margin-top: 50px;
}
@media only screen and (max-width: 599px) {
  .RentalItems {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 600px) {
  .RentalItems {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 900px) {
  .RentalItems {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  .RentalItems {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 50px auto;
  }
}
.RentalListItem {
  cursor: pointer;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  border: 1px solid #d5d5d5;
}
.RentalListItem img {
  height: 250px;
  object-fit: fill;
  width: 100%;
}
.RentalListItem .details {
  display: grid;
  grid-gap: 8px;
  padding: 12px;
}
.RentalListItem .details .title {
  text-align: center;
  display: inline;
  font-weight: 600;
}
.RentalListItem .details .stock-price small {
  font-weight: 300;
}
.RentalListItem .details .stock-price span {
  font-weight: bold;
  color: #17c671;
}
.RentalListItem .details .location {
  font-weight: 300;
  color: #80868f;
}
.RentalListItem:hover {
  box-shadow: 0 3px 20px 0 rgba(128, 128, 128, 0.2);
}
