@import "../../styles/media";
@import "../../styles/colors";

@sub-page: #f7f7f7;

.RentalCategories {
  background-color: @sub-page;

  @media @phones {
    padding: 2em;
  }

  @media @smartphones {
    padding: 2em;
  }

  @media @desktops {
    padding: 3em;
  }

  .icon {
    display: block;
    text-align: center;
    margin: 10px auto 30px auto;
    font-size: 4em;
    color: @primary;
  }
  .title {
    text-align: center;

    h2 {
      font-size: 1.3em;
      color: @gray-dark;
    }

    a {
      text-decoration: none;
    }
  }

  .content-wrapper {
    padding: 10px;
    max-width: 1000px;
    margin: 30px auto;

    .rental-content {
      p {
        font-size: 1.1em;
        padding: 3px;
        text-align: left;
        text-indent: 30px;

        &:nth-child(odd) {
          //color: @deep-black;
        }
      }
    }
  }
}

.RentalItems {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  margin-top: 50px;

  @media @phones {
    margin: 0 auto;
  }

  @media @smartphones {
    grid-template-columns: repeat(2, 1fr);
  }

  @media @tablets-horizontal {
    grid-template-columns: repeat(3, 1fr);
  }

  @media @desktops {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 50px auto;
  }
}

.RentalListItem {
  cursor: pointer;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  border: 1px solid #d5d5d5;

  img {
    height: 250px;
    object-fit: fill;
    width: 100%;
  }

  .details {
    display: grid;
    grid-gap: 8px;
    padding: 12px;

    .title {
      text-align: center;
      display: inline;
      font-weight: 600;
    }

    .stock-price {
      small {
        font-weight: 300;
      }
      span {
        font-weight: bold;
        color: @primary;
      }
    }
    .location {
      font-weight: 300;
      color: @gray-dark;
    }
  }

  &:hover {
    box-shadow: @deep-fog;
  }
}
