@import '../../styles/media';
@import '../../styles/colors';

@sub-page: #f7f7f7;

.RentalCategories {
  background-color: @sub-page;
  margin-top: 50px;

  @media @phones {
    padding: 2em;
  }

  @media @smartphones {
    padding: 2em;
  }

  @media @desktops {
    padding: 3em;
  }

  .title {
    text-align: center;

    h2 {
      font-size: 1.3em;
      color: @gray-dark;
    }
  }

  .content-wrapper {
    padding: 10px;
    max-width: 1000px;
    margin: 30px auto;

    .rental-content {
      p {
        font-size: 1.1em;
        padding: 3px;
        text-align: left;
        text-indent: 30px;

        &:nth-child(odd) {
          //color: @deep-black;
        }
      }
    }

  }
}
