.RentalCategories {
  background-color: #f7f7f7;
}
@media only screen and (max-width: 599px) {
  .RentalCategories {
    padding: 2em;
  }
}
@media only screen and (min-width: 600px) {
  .RentalCategories {
    padding: 2em;
  }
}
@media only screen and (min-width: 1200px) {
  .RentalCategories {
    padding: 3em;
  }
}
.RentalCategories .icon {
  display: block;
  text-align: center;
  margin: 10px auto 30px auto;
  font-size: 4em;
  color: #17c671;
}
.RentalCategories .title {
  text-align: center;
}
.RentalCategories .title h2 {
  font-size: 1.3em;
  color: #80868f;
}
.RentalCategories .title a {
  text-decoration: none;
}
.RentalCategories .content-wrapper {
  padding: 10px;
  max-width: 1000px;
  margin: 30px auto;
}
.RentalCategories .content-wrapper .rental-content p {
  font-size: 1.1em;
  padding: 3px;
  text-align: left;
  text-indent: 30px;
}
.RentalItems {
  margin-top: 50px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-gap: 10px;
}
.RentalItem {
  display: grid;
  grid-template-rows: repeat(2, max-content);
}
.RentalItem img {
  height: 200px;
  width: 250px;
}
